body {
  	background-color: rgb(31, 20, 24);
	background: url("try4_border.png"), url("try4.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

}

#top_handwriting {
	font-weight: 400;
	font-family: 'GenericTypewriter', Pterra;
	text-shadow: #ff0000 1px 0 10px;
	font-style: normal;
	text-align: center;
	font-size: 25px;
	color:#ff0000;
}

#class_select_box_div
{
	display: flex;
	flex-direction: column;
	flex: 1;
}

#green_plussa
{
	color:greenyellow;
}

img.ninetysskull{
	display:none;
}

.class_bar_div {
	text-align: center;
}

a.vagrant:link, a.vagrant:visited, a.vagrant:active, .linkOn, .linkOff
{
  	font-weight: 700;
  	font-style: normal;
	font-family: 'GenericTypewriter', Pterra;
	font-size: 20px;

	color: #9a9b70;
	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 1px 1px 1px;
	margin: 0 2px 0 0;
	cursor:default;
	transition: 0.3s;
}

a.vagrant:hover
{
	color: #ffffff;
	cursor: pointer;
	text-shadow:
		1px 1px 2px red,
		0 0 1em blue,
		0 0 0.2em blue;
}

a.vagrant:hover img.ninetysskull {
	display: inline-block;
}

a.bottom_buttons, a.bottom_buttons:link, a.bottom_buttons:visited, a.bottom_buttons:active {
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	color: #ab2020;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
	transition: 0.3s;
}

a.bottom_buttons:hover
{
	color: #ffffff;
	cursor: pointer;
	text-shadow:
		1px 1px 2px red,
		0 0 1em blue,
		0 0 0.2em blue;
}

a.mo_bottom_buttons, a.mo_bottom_buttons:link, a.mo_bottom_buttons:visited, a.mo_bottom_buttons:active {
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	color: #249557;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
	transition: 0.3s;
}

a.mo_bottom_buttons:hover
{
	color: #ffffff;
	cursor: pointer;
	text-shadow:
		1px 1px 2px red,
		0 0 1em blue,
		0 0 0.2em blue;
}

.bottom_button_cost {
	font-weight: 700;
	font-style: normal;
	font-size: 10px;
	color: #ffffff;
}


a.class_desc_YES_LINK, a.class_desc_YES_LINK:link, a.class_desc_YES_LINK:visited, a.class_desc_YES_LINK:active {
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	color: #249557;

	text-decoration: none;
	text-align: center;
	background: transparent;

	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor:default;
	transition: 0.3s;
}

a.class_desc_YES_LINK:hover
{
	color: #ffffff;
	cursor: pointer;
	text-shadow:
		1px 1px 2px red,
		0 0 1em blue,
		0 0 0.2em blue;
}

.footer {
   position: fixed;
   left: 6px;
   bottom: 4px;
   width: 100%;
}

#button_div
{
	flex: none;
	align-self: flex-end;
}

.title_shit {
	font-weight: 700;
	font-style: normal;
	font-size: 25px;
	font-family: 'GenericTypewriter', Pterra;
	color: #570000;
}

.post_title_shit{
	font-weight: 400;
	font-size: 20px;
	font-family: 'GenericTypewriter', Pterra;
	font-style: normal;
	color: #bc0000;
}
